body {
font-size: 20px;
/*color: blue;*/
-webkit-print-color-adjust:exact !important;
print-color-adjust:exact !important;
}
.error{
color: red;
}

th, td {
  padding-right: 8px;
}

h3{
padding: 0px;
margin: 0px;
}
h5{
padding: 0px;
margin: 0px;
font-weight: normal;
}


table[name="basicWorkInfo"] {
padding-top: 5px;
border-bottom: 1px solid #ddd; /* Add a bottom border to cells */
}

table[name="moneyInfo"]{
border-bottom: 1px solid #ddd; /* Add a bottom border to cells */
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add a light border */
}
.table th, .table td {
    text-align: left;
}
.table th {
    background-color: #C0C0C0;
    /*background-color: #add8e6;*/
}

table[name="details"]{
font-size: 14px;
}