<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Stub</title>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h1>Create Stub</h1>


<form method="POST" action="/stubs/create">
    Company name <input type="text" name="name" value="Saint Louis Angelic Caregivers">
    Employee Name <input type="text" name="employee">
    Check Number <input type="text" name="checkNumber">
    Pay period Semimonthly
    Type in the specific pay period -> <input type="text" name="payPeriod">
    Type in the pay date -> <input type="text" name="payDay">
    Monday <input type="number" name="hoursWorkedEachDay" value="4">
    On this first Monday, they worked between the hours of: <input type="text" name="timeOfDay" value="8AM to 12PM">
    Tuesday <input type="number" name="hoursWorkedEachDay" value="0">
    On this first Tuesday, they worked between the hours of: <input type="text" name="timeOfDay" value="N/A">
    Wednesday <input type="number" name="hoursWorkedEachDay" value="0">
    On this first Wednesday, they worked between the hours of: <input type="text" name="timeOfDay" value="N/A">
    Thursday <input type="number" name="hoursWorkedEachDay" value="4">
    On this first Thursday, they worked between the hours of: <input type="text" name="timeOfDay" value="8AM to 12PM">
    Friday <input type="number" name="hoursWorkedEachDay" value="4">
    On this first Friday, they worked between the hours of: <input type="text" name="timeOfDay" value="8AM to 12PM">
    Saturday <input type="number" name="hoursWorkedEachDay" value="0">
    On this first Saturday, they worked between the hours of: <input type="text" name="timeOfDay" value="N/A">
    Sunday <input type="number" name="hoursWorkedEachDay" value="0">
    On this first Sunday, they worked between the hours of: <input type="text" name="timeOfDay" value="N/A">
    Monday <input type="number" name="hoursWorkedEachDay" value="4">
    On this second Monday, they worked between the hours of: <input type="text" name="timeOfDay" value="8AM to 12PM">
    Tuesday <input type="number" name="hoursWorkedEachDay" value="0">
    On this second Tuesday, they worked between the hours of: <input type="text" name="timeOfDay"value="N/A">
    Wednesday <input type="number" name="hoursWorkedEachDay" value="0">
    On this second Wednesday, they worked between the hours of: <input type="text" name="timeOfDay"value="N/A">
    Thursday <input type="number" name="hoursWorkedEachDay" value="4">
    On this second Thursday, they worked between the hours of: <input type="text" name="timeOfDay" value="8AM to 12PM">
    Friday <input type="number" name="hoursWorkedEachDay" value="4">
    On this second Friday, they worked between the hours of: <input type="text" name="timeOfDay" value="8AM to 12PM">
    Saturday <input type="number" name="hoursWorkedEachDay" value="0">
    On this second Saturday, they worked between the hours of: <input type="text" name="timeOfDay" value="N/A">
    Sunday <input type="number" name="hoursWorkedEachDay" value="0">
    On this second Sunday, they worked between the hours of: <input type="text" name="timeOfDay" value="N/A">
    Type hourly pay rate here ----> <input type="number" name="hourlyPayRate">
    Enter previous yearly gross income here ->>> <input type="text" name="yearlyPreviousGross">

    <input type="submit" value="Create Stub">
</form>

</body>
</html>