<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Stub</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/script.js}"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h1>Create Stub</h1>


<form method="POST" action="/stubs/create">
    Company name <input type="text" name="name" value="Saint Louis Angelic Caregivers">
    <div style="clear:both"></div>
    Company Address  <input type="text" name="companyAddress">
    <div style="clear:both"></div>
    Company Phone Number  <input type="tel" name="phoneNumber" pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}" value="(314)601-4345">
    <div style="clear:both"></div>
    Company Email  <input type="email" name="companyEmail">
    <div style="clear:both"></div>
    Employee Name <input type="text" name="employee">
    <div style="clear:both"></div>
    Employee Address <input type="text" name="employeeAddress">
    <div style="clear:both"></div>
    Employee ID <input type="text" name="employeeId">
    <div style="clear:both"></div>
    Check Number <input type="text" name="checkNumber">
    <div style="clear:both"></div>
    Type in the specific pay period -> <input type="text" name="payPeriod">
    <div style="clear:both"></div>
    On what day of the week did the pay period begin?  <select name = "payPeriodBeginning">
        <option disabled selected value> -- select an option -- </option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <div style="clear:both"></div>
    Type in the pay date -> <input type="text" name="payDay">

    <div style="clear:both"></div>
    <label for="selectNumber">Select Number of Days in this Pay Cycle:</label>
    <select id="selectNumber" name="daysLong" onchange="createTextboxes()">
        <option disabled selected value> -- select an option -- </option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
    </select>

    <div id="textboxContainer">
        <!-- Textboxes will be dynamically added here -->
    </div>
    <div style="clear:both"></div>
    Type hourly pay rate here ----> <input type="number" name="hourlyPayRate">
    <div style="clear:both"></div>
    Enter previous YTD Total gross income here ->>> <input type="number" step="0.01" name="yearlyPreviousGross">
    <div style="clear:both"></div>
    Enter previous YTD Total Federal Tax here ->>> <input type="number" step="0.01" name="yearlyPreviousFed">
    <div style="clear:both"></div>
    Enter previous YTD Total State Tax here ->>> <input type="number" step="0.01" name="yearlyPreviousState">
    <div style="clear:both"></div>
    Enter previous YTD Total Social Security contributions here ->>> <input type="number" step="0.01" name="yearlyPreviousSocSec">
    <div style="clear:both"></div>
    Enter previous YTD Total Medicare contributions here ->>> <input type="number" step="0.01" name="yearlyPreviousMedicare">
    <div style="clear:both"></div>
    Enter the employee federal filing status here ->>> <select name="federalTaxFiling">
        <option disabled selected value> -- select an option -- </option>
        <option value="s">Single</option>
        <option value="0">Married Filing Jointly</option>
        <option value="sep">Married Filing Separately</option>
        <option value="1">Head of Household</option>
    </select>
    <select name="federalTaxFiling">
    Standard withholding or Form W-4/Step 2/Check withholding
        <option disabled selected value> -- select an option -- </option>
        <option value="0">Standard withholding</option>
        <option value="1">Form-W4, Step 2, Checkbox withholding</option>
    </select>
    <div style="clear:both"></div>
    Enter the employee state filing status here ->>> <select name="stateTaxFiling">
        <option disabled selected value> -- select an option -- </option>
        <option value="0">Single</option>
        <option value="0">Married Filing Combined - Spouse Works</option>
        <option value="0">Married Filing Separate</option>
        <option value="1">Head of Household</option>
        <option value="2">Married Filing Combined - Spouse Doesn't Work</option>
    </select>
    <div style="clear:both"></div> <!--step="0.01" number with 2 decimal places  -->
    Enter previous deduction total here ->>>>> <input type="number" step="0.01" name="previousDeduction">
    <div style="clear:both"></div>
    Enter previous net pay total here ->>>>> <input type="number" step="0.01" name="previousNetPay">
    <div style="clear:both"></div>
    <input type="submit" value="Create Stub">
</form>

</body>
</html>