<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Stub</title>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h1>Create Stub</h1>


<form method="POST" action="/stubs/create">
    Company name <input type="text" name="name">
    Employee Name <input type="text" name="employee">
    Check Number <input type="text" name="checkNumber">
    Pay period Semimonthly
    Type in the specific pay period -> <input type="text" name="payPeriod">
    Type in the pay date -> <input type="text" name="payDay">
    Monday <input type="number" name="hoursWorkedEachDay">
    Tuesday <input type="number" name="hoursWorkedEachDay">
    Wednesday <input type="number" name="hoursWorkedEachDay">
    Thursday <input type="number" name="hoursWorkedEachDay">
    Friday <input type="number" name="hoursWorkedEachDay">
    saturday <input type="number" name="hoursWorkedEachDay">
    Sunday <input type="number" name="hoursWorkedEachDay">
    Monday <input type="number" name="hoursWorkedEachDay">
    Tuesday <input type="number" name="hoursWorkedEachDay">
    Wednesday <input type="number" name="hoursWorkedEachDay">
    Thursday <input type="number" name="hoursWorkedEachDay">
    Friday <input type="number" name="hoursWorkedEachDay">
    saturday <input type="number" name="hoursWorkedEachDay">
    Sunday <input type="number" name="hoursWorkedEachDay">
    Type hourly pay rate here ----> <input type="number" name="hourlyPayRate">
    Enter previous yearly gross income here ->>> <input type= ="text" name="yearlyPreviousGross">

    <input type="submit" value="Create Stub">
</form>

</body>
</html>