<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Pay Stub</title>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<h3 th:text="${companyName}"></h3>

<table class="table">
    <thead>
    <tr>
        <th>Employee Name</th>
        <th>Check Number</th>
        <th>Pay Period</th>
        <th>Pay Day</th>
    </tr>
    </thead>
    <tr th:each="stub : ${stubs}">
        <td th:text="${stub.employee}"></td>
        <td th:text="${stub.checkNumber}"></td>
        <td th:text="${stub.payPeriod}"></td>
        <td th:text="${stub.payDay}"></td>
    </tr>
</table>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Hours Worked Each Day</th>
        <th>Work Start Time</th>
        <th>Work End Time</th>
    </tr>
    </thead>
    <tr th:each="daysLong : ${#numbers.sequence(0, daysLong)}">
        <td th:text="${updatedDays[daysLong]}"> </td>
        <td th:if="${hoursWorked[daysLong]}" th:text="${hoursWorked[daysLong]}"></td>
        <td th:if="${timeWorkedStart[daysLong] != 0}" th:text="${timeWorkedStartFormatted[daysLong]}"></td>
        <td th:text="${timeWorkedEnd[daysLong]}"></td>
</table>



<table class="table">
    <thead>
    <tr>
        <th>Total Hours</th>
        <th>Hourly Pay Rate</th>
        <th>Total Gross Income</th>
    </tr>
    </thead>
    <tr th:each="stub : ${stubs}">
        <td th:text="${totalHours}"></td>
        <td th:text="${stub.hourlyPayRate}"></td>
        <td th:text="${totalGrossIncome}"></td>
    </tr>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Yearly Previous Gross Income</th>
        <th>Year-to-Date Gross Income</th>
    </tr>
    </thead>
    <tr th:each="stub : ${stubs}">
        <td th:text="${stub.yearlyPreviousGross}"></td>
        <td th:text="${YTDGrossIncome}"></td>
    </tr>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Social Security Contribution</th>
        <th>Medicare Contribution</th>
        <th>Federal Tax</th>
        <th>State Tax</th>
    </tr>
    </thead>
    <tr th:each="stub : ${stubs}">
        <td th:text="${socSecContribution}"></td>
        <td th:text="${medicareContribution}"></td>
        <td th:text="${stub.federalTax}"></td>
        <td th:text="${stub.stateTax}"></td>
    </tr>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Current Total Deduction</th>
        <th>Year-to-Date Deduction</th>
        <th>Net Pay</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${currentTotalDeduction}"></td>
        <td th:text="${YTDDeduction}"></td>
        <td th:text="${netPay}"></td>
    </tr>
</table>

</body>
</html>