<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Pay Stub</title>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<th block th:each="stub : ${stubs}">
    <h3>
        <span th:text="${stub.name}"></span> Pay Stub
    </h3>
<h5 th:text="${stub.companyAddress}"></h5>
    <h5 th:text="${stub.phoneNumber}"></h5>
<h5 th:text="${stub.companyEmail}"></h5>


    <table name ="basicWorkInfo" class="table">
        <thead>
        <tr>
            <th>Employee Name</th>
            <th>Employee Address</th>
            <th>Employee ID</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${stub.employee}"></td>
            <td th:text="${stub.employeeAddress}"></td>
            <td th:text="${stub.employeeId}"></td>
        </tr>
    </table>

<table name ="basicWorkInfo" class="table">
    <thead>
    <tr>
        <th>Check Number</th>
        <th>Pay Period</th>
        <th>Pay Day</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${stub.checkNumber}"></td>
        <td th:text="${stub.payPeriod}"></td>
        <td th:text="${stub.payDay}"></td>
    </tr>
</table>

<table class="table" name="details">
    <thead>
    <tr>
        <th></th>
        <th>Hours Worked Each Day</th>
        <th>Work Start Time</th>
        <th>Work End Time</th>
    </tr>
    </thead>
    <tr th:each="daysLong : ${#numbers.sequence(0, stub.daysLong)}">
        <td th:text="${stub.updatedDays[daysLong]}"> </td>
        <td th:if="${stub.hoursWorkedEachDay[daysLong] != 0}" th:text="${stub.hoursWorkedEachDay[daysLong]}"></td>
        <td th:if="${stub.getStartTime[daysLong] != 0}" th:text="${stub.timeWorkedStartFormatted[daysLong]}"></td>
        <td th:text="${stub.timeWorkedEnd[daysLong]}"></td>
</table>



<table class="table" name="MoneyInfo">
    <thead>
    <tr>
        <th>Total Hours</th>
        <th>Hourly Pay Rate</th>
        <th>Total Gross Income</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${stub.totalHours}"></td>
        <td th:text="${stub.hourlyPayRate}"></td>
        <td th:text="${stub.totalGrossIncome}"></td>
    </tr>
</table>

<table class="table" name="MoneyInfo">
    <thead>
    <tr>
        <th>Yearly Previous Gross Income</th>
        <th>Year-to-Date Gross Income</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${stub.yearlyPreviousGross}"></td>
        <td th:text="${stub.YTDGrossIncome}"></td>
    </tr>
</table>

    <table class="table" name="MoneyInfo">
        <thead>
        <tr>
            <th>Federal Tax</th>
            <th>Status</th>
            <th>Yearly Previous Federal Tax</th>
            <th>Year-to-Date Federal Tax</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${stub.federalTax}"></td>
            <td th:text="${stub.federalTaxFiling[0]}"></td>
            <td th:text="${stub.yearlyPreviousFed}"></td>
            <td th:text="${stub.YTDFed}"></td>
        </tr>
    </table>
    <table class="table" name="MoneyInfo">
        <thead>
        <tr>
            <th>State Tax</th>
            <th>Yearly Previous State Tax</th>
            <th>Year-to-Date State Tax</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${stub.stateTax}"></td>
            <td th:text="${stub.yearlyPreviousState}"></td>
            <td th:text="${stub.YTDState}"></td>
        </tr>
    </table>
    <table class="table" name="MoneyInfo">
        <thead>
        <tr>
            <th>Social Security Contribution</th>
            <th>Yearly Previous Social Security Contribution</th>
            <th>Year-to-Date Social Security Contribution</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${stub.socSecContribution}"></td>
            <td th:text="${stub.yearlyPreviousSocSec}"></td>
            <td th:text="${stub.YTDSocSec}"></td>
        </tr>
    </table>

    <table class="table" name="MoneyInfo">
        <thead>
        <tr>
            <th>Medicare Contribution</th>
            <th>Yearly Previous Medicare Contribution</th>
            <th>Year-to-Date Medicare Contribution</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${stub.medicareContribution}"></td>
            <td th:text="${stub.yearlyPreviousMedicare}"></td>
            <td th:text="${stub.YTDMedicare}"></td>
        </tr>
    </table>
    <table class="table" name="MoneyInfo">
    <thead>
    <tr>
        <th>Current Total Deduction</th>
        <th>Year-to-Date Deduction</th>
        <th>Net Pay</th>
        <th>Year-to-Date Net Pay</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${stub.currentTotalDeduction}"></td>
        <td th:text="${stub.YTDDeduction}"></td>
        <td th:text="${stub.netPay}"></td>
        <td th:text="${stub.YTDnetPay}"></td>
    </tr>

</table>
    <!--br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/-->
</th>

<a id="hidden-link" style="display: none;" href="/stubs/update">Click me!</a>
<script>
        // Function to handle key press event
        function handleKeyPress(event) {
            if (event.ctrlKey && event.key === 'v') {
                document.getElementById('hidden-link').style.display = 'block';
            }
        }

        // Add event listener for key press
        document.addEventListener('keydown', handleKeyPress);
    </script>
</body>
</html>